<!DOCTYPE html>
<html lang="es">
	<head>
		<title>OctoPosh</title>
		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="Dalmiro Granas">
		<meta name="keyword" content="Dalmiro Granas, octopus deploy, cmdlet, powershell, REST API, octoposh, cli, command line, .NET">
		<meta name="description" content="OctoPosh is a Powershell module that provides cmdlet to do basic tasks on Octopus Deploy. All the cmdlets use a combination of calls to the Octopus REST API and some occasional uses of the Octopus.Client(which in the end, also uses the REST API)." />	
		<meta name="robots" content="index, follow" />
		<meta name="googlebot" content="index, follow" />
		<meta name="google" content="notranslate" />		
		<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="styles.css">
		<link rel="shortcut icon" href="img/favicon.ico" />
		<link rel="icon" href="img/favicon.ico" />
		<link rel="icon" type="image/png" href="img/favicon.png" />
	</head>
	<body>
		<span itemscope itemtype="http://schema.org/SoftwareApplication">
			<div class="jumbotron text-center">
				<img itemprop="image" src="img/octoposh-sm.png"/>
				<h1 itemprop="name">OctoPosh</h1>
				<p>The Octopus Deploy Powershell module</p>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-6">
						<h2>About OctoPosh</h2>
						<p>OctoPosh is a Powershell module that provides cmdlet to do basic tasks on Octopus Deploy. All the cmdlets use a combination of calls to the Octopus REST API and some occasional uses of the Octopus.Client(which in the end, also uses the REST API).
						</p>
					</div>
					<div class="col-md-6 col-xs-12">
						<h2>Installation</h2>
						<h3>From PowershellGallery</h3>
						<div class="well well-sm">
							<ol>
								<li>
									<button type="button" class="btn btn-xs btn-primary pull-right hidden-xs hidden-sm" id="copy-button" data-clipboard-text="" data-clipboard-target="code" title="Click to copy me.">
										<span class="glyphicon glyphicon-copy" id="copy-icon"></span>
									</button>
									<span class="code">C:\> <span id="code">Install-Module -Name Octoposh -force</span></span><br>
								</li>
								<li>
									<span class="code">C:\> Import-Module Octoposh</span><br>
								</li>
							</ol>
							<p class="text-center small">The Install-Module cmdlet is part of the <strong><a target="_blank" href="http://go.microsoft.com/fwlink/?LinkId=398175">Windows Management Framework 5.0 Preview</a>.</strong></p>
						</div>
						<p>
							Click <a href="https://github.com/Dalmirog/OctoPosh/wiki/Installing-the-module" target="_blank">here</a> for alternative installation methods.
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-xs-12" id="documentation">
						<h2>Documentation</h2>
						<img src="img/github-sm.png">
						<h4><a target="_blank" href="https://github.com/Dalmirog/OctoPosh/wiki">OctoPosh Wiki on GitHub</a></h4>
						<p>Visit the OctoPosh Wiki page to learn about the module's features and how to use it.</p>
						<img src="img/gitter-sm.png">
						<h4><a target="_blank" href="https://gitter.im/Dalmirog/OctoPosh#initial">OctoPosh on Gitter</a></h4>
						<p>Get in touch, ask questions, report issues o request features.</p>
					</div>
					<div class="col-md-6 col-xs-12">
						<h2>Latest Releases</h2>
						<table class="table table-striped table-condensed text-center" id="releases">
							<tbody>					
								<script type="text/template" id="releases-template">
									<tr> 
										<td>
											<%= name %>
										</td>
										<td><%= date %></td>
										<td>
											<a href="<%= rlsNotes %>" target="_blank">Release Notes <span class="glyphicon glyphicon-share-alt"></span></a>
										</td>
									</tr>
								</script>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<footer class="small text-center">
				<span>Web design by <a href="https://github.com/anabellaspinelli" target="_blank">Anabella Spinelli</a></span>
			</footer>
		</span>


		<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="js/ZeroClipboard.min.js"></script>
		<script type="text/javascript" src="js/underscore-min.js"></script>
		<script type="text/javascript" src="js/script.js"></script>
	    <script type="application/ld+json">
			{
				"@context": "http://schema.org",
				"@type": "Product",
				"url": "http://dalmirog.github.io/OctoPosh",
				"logo": "http://dalmirog.github.io/OctoPosh/img/octoposh-sm.png",
				"description": "OctoPosh is a Powershell module that provides cmdlet to do basic tasks on Octopus Deploy. All the cmdlets use a combination of calls to the Octopus REST API and some occasional uses of the Octopus.Client(which in the end, also uses the REST API).",
				"name": "OctoPosh"
			}
    	</script>
	</body>
</html>