/*hola*/

.jumbotron {
	background-color: #3D293D;
	color: #fff;
	padding: 24px 0;
}

.jumbotron h1 {
	font-size: 40pt;
	display: inline-block;
}

.jumbotron img {
	padding-right: 10px;
  	margin-top: -25px;
}

.jumbotron p {
	font-size: 12pt;
}

.code {
	font-family: monospace;
	font-weight: 900;
}

.well > p {
	color: #999999;
}

.well > p a {
	color: #6E9FCA;
}

#documentation h4 {
	display: inline;
}

table#releases > tbody > tr:first-of-type {
	font-weight: bold;
	background-color: #DFF0D8;
}

#copy-button {
	font-size: 15px;
}

